# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# IDE Files
.idea/

# Super Secret Files
tweets.db
tweetTrack/deploy/env_vars.txt
streamScript/deploy/env_vars.txt
tweetTrack/deploy/simple_nginx_config
streamScript/deploy/simple_nginix_config
tweetTrack/deploy/supervisord.conf
streamScript/deploy/supervisor.conf
tweetTrack/app/config/
streamScript/webAPI/config/
streamScript/webAPI/keys.sqlite

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
venv/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

#misc files
/rabbit_practice
/streamScript/domain/our_keys
/papers/MiningSocialMedia.pdf
/streamScript/domain/pickles
/streamScript/domain/pickles1
/streamScript/db_backups


