<div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">About tweetTrack</h4>
            </div>
            <div id="twitter-modal-body" class="modal-body">
                <p>
                    Alice was very glad to find her in such a pleasant temper,
                    and thought  to herself that perhaps it was only the pepper
                    that had made her so  savage when they met in the kitchen.
                </p>

                <p>
                    'When I'M a Duchess,' she said to herself, (not in a very
                    hopeful tone  though), 'I won't have any pepper in my kitchen
                    AT ALL. Soup does very  well without&mdash;Maybe it's always
                    pepper that makes people hot-tempered,'  she went on, very
                    much pleased at having found out a new kind of  rule, 'and
                    vinegar that makes them sour&mdash;and camomile that makes
                    them bitter&mdash;and&mdash;and barley-sugar and such things
                    that make children  sweet-tempered. I only wish people knew
                    that: then they wouldn't be so  stingy about it, you know&mdash;'
                </p>

                <p>
                    She had quite forgotten the Duchess by this time, and was a
                    little  startled when she heard her voice close to her ear.
                    'You're thinking  about something, my dear, and that makes
                    you forget to talk. I can't  tell you just now what the moral
                    of that is, but I shall remember it in  a bit.'
                </p>

                <p>'Perhaps it hasn't one,' Alice ventured to remark.</p>
            </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>