<div class="modal fade" id="request-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    Enter your email address below
                </h4>
            </div>
            <div id="api-request-modal-body" class="modal-body">
                <p>
                    Enter your email below to receive your API key.
                </p>
                <form id="api-request-form" action="" method="post">
                {{ api_request_form.csrf_token }}
                <fieldset class="form-group">
                    {{ api_request_form.request_email.label }}<br />
                    {{ api_request_form.request_email }}
                </fieldset>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    {{ api_request_form.send_request(class_='btn btn-primary') }}
                </div>
                <script>
                    var modal = $("#request-modal");
                    var api_request = $("#api-request-form");
                    api_request.on("submit", function(event){
                        var request_email = $("#request_email").val();
                        event.preventDefault();
                        $.ajax('/api-request/' + request_email, {
                            data: api_request.serialize(),
                            success: function(response) {
                                $("#api-request-modal-body").append(response);
                                api_request.trigger("reset");
                                modal.modal('hide');
                                }
                            });
                        });
                </script>
                </form>
            </div>
        </div>
    </div>
</div>