/*
dark-green: 036F73;
light-green: 84CDC2;
white: FEF2D8;
pink: F18C79;
red: EF504F;
*/

html, body, .wrapper, #map-canvas {
    height: 100%;
    display: block;
}

header, footer {
    z-index: 1;
}

header {
    background: #036F73;
    position: absolute;
    top: 0;
    width: 100%;
}

.wrapper {
    z-index: 0;
}

footer{
    background: #bbb;
    bottom: 0;
    height: 100px;
    position: absolute;
    width: 100%;
}